<section class="m-5">
  <h2 class="title">create new blog post</h2><hr>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>

  <form class="new-post-form">
    <div>
      <label for="post-title">title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="write blog title here"/>
    </div>
    <div>
      <label for="post-body">content:</label>
      <input class="textarea is-large" id="post-content" name="post-body" placeholder="write blog content here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right mt-3">create post</button>
  </form>
</section>

<script src="/public/javascript/add-post.js"></script>