    <div class="mb-5 pt-3">
        <a href="/dashboard/create/"><button id="create-post" class="button is-link is-pulled-right">Create Post</button></a>
        
        <p class="title is-size-2">dashboard:</p>
        <hr />
{{#if posts.length}}
    </div>

    {{#each posts as |post|}}
        {{> post-info post}}
        
            <a href="/dashboard/edit/{{post.id}}"><button class="button mb-5 ml-5 is-warning">edit post</button></a>
        </div>
    {{/each}}

{{else}}
<p class="has-text-centered is-italic is-size-5">you do not currently have any posts</p>

{{/if}}

