<div class="columns">
  <div class="column is-mobile ml-4">
    <p class="title is-size-3">Log In:</p>
    <form class="login-form">
      <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
      </div>
      <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit" class="button is-primary">login</button>
        <a href="/signup"><button type="button" class="button is-danger">signup</button></a>
      </div>
    </form>
  </div>
</div>

<script src="/public/javascript/login.js"></script>